blue.jpg {
height: 70;    
width: 90; 
}

flowers.gif {
height: 70;    
width: 90; 
}

Orange.png {
height: 70;    
width: 90; 
}

Pink tulip.jpg {
height: 70;    
width: 90; 
}

purple.jpg {
height: 70;    
width: 90; 
}

Red rose.jpg {
height: 70;    
width: 90; 
}

violet.jpg {
height: 70;    
width: 90; 
}

White.jpg {
height: 70;    
width: 90; 
}

yellow.jpg {
height: 70;    
width: 90; 
}